@font-face {
  font-family: 'ProximaNova-Semibold';
  font-weight: 600;
  font-style: normal;
  src: local('ProximaNova-Semibold'),
    url('../ProximaNova-Semibold.woff2') format('woff2'),
    url('../ProximaNova-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('ProximaNova-Regular'),
    url('../ProximaNova-Regular.woff2') format('woff2'),
    url('../ProximaNova-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Light';
  font-weight: 300;
  font-style: normal;
  src: local('ProximaNova-Light'),
    url('../ProximaNova-Light.woff2') format('woff2'),
    url('../ProximaNova-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Thin';
  font-weight: 100;
  font-style: normal;
  src: local('ProximaNova-Thin'),
    url('../ProximaNova-Thin.woff2') format('woff2'),
    url('../ProximaNova-Thin.woff') format('woff');
  font-display: swap;
}