body {
  @extend %ProximaNova-Thin;
  font-size: 22px;
  line-height: 135%;
  color: $text;
  background-color: #000;
}

a {
  color: $text;
}

.title {
  @extend %ProximaNova-Light;
  font-size: 50px;
  line-height: 110%;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}