html {
  height: 100%;
}

body {
  @extend %ProximaNova-Thin;
  font-size: 22px;
  line-height: 135%;
  color: $text;
  background-color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  color: $text;
}

button {
  cursor: pointer;
}

.title {
  @extend %ProximaNova-Light;
  text-align: center;
  font-size: 50px;
  line-height: 110%;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
}