$text: #fff;

// %checkbox-hidden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

%ProximaNova-Semibold {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-weight: 700;
}

%ProximaNova-Regular {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
}

%ProximaNova-Light {
  font-family: 'ProximaNova-Light', sans-serif;
  font-weight: 300;
}

%ProximaNova-Thin {
  font-family: 'ProximaNova-Thin', sans-serif;
  font-weight: 100;
}

